<header1>
  
  <h1 class="display-4">{{pageTitle}}</h1>
  <div style="background-color: aliceblue;" align="right">
<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/About_Page" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/Contact_Us" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/Reach_Us" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">REACH US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

</header1>
