<html>
    <head>
        <title>
            about page
        </title>
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
  <body>
      {{>header1}}
      

<div class="container">
    <div class="justify-content-center">
        <img  src="https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png" alt="my self" class="img-rounded">
        <p>Mustaf Aidarus Nur</p>
        <p>Software Develpoer</p>
        <p>Study at Lovely Professional University</p>
        <p> Joint Date 2017 </p>
    </div>
		
	</div>
{{>footer}}


    </body>
</html>