<html>
    <head>
        <title>
        
        </title>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        {{>header1}}
      


        <div class="container">
 
<h2>Toll Free: +91-7995659081</h2>
  <h3>feel free!</h3>
<h1>Our Address</h1>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50070.85900702272!2d75.65329389814329!3d31.27047381470244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a594d22b88d%3A0x4cc934c58d0992ec!2sLovely%20Professional%20University!5e0!3m2!1sen!2sin!4v1587006687743!5m2!1sen!2sin" width="100%" height="650" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  









 
    </div>  

{{>footer}}
    </body>
</html>
